<nav class="navbar">
    <div class="nav-brand"><a href="/" target="_self">Mur_Mys</a></div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <div class="nav-menu">
        <ul class="nav-list">
            <li class="nav-item"><a href="/login" target="_self" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/register/" target="_self" class="nav-link">Signup</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Projects</a></li> -->
            <li class="nav-item"><a href="#" target="_self" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>