{% extends 'layout.html' %}
{% load static %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="reset-box">
    <h1 class="reset-heading">Email Sent</h1>
    
    <div class="reset-status">
        <h3 class="blink">CHECK YOUR EMAIL</h3>
    </div>
    
    <div class="reset-instructions">
        <p>WE'VE EMAILED YOU INSTRUCTIONS FOR SETTING A NEW PASSWORD, IF AN ACCOUNT EXISTS WITH THE EMAIL YOU ENTERED.</p>
        
        <p>YOU SHOULD RECEIVE THE EMAIL SHORTLY. IF YOU DON'T RECEIVE AN EMAIL, PLEASE MAKE SURE YOU'VE ENTERED THE ADDRESS YOU REGISTERED WITH, AND CHECK YOUR SPAM FOLDER.</p>
    </div>
    
    <div class="form-actions">
        <a href="{% url 'login' %}" class="btn-accent" target="_self">RETURN TO LOGIN</a>
    </div>
</div>
{% endblock %}